<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="./static/styles.css">
</head>
<body style=" background-repeat: no-repeat; background-size: cover; opacity: 0.95;">
<div>
<div class="navbar">
    <div class="nav-child-1" style="font-family: cursive; font-size: xx-large; font-weight: 800; font-style: italic;">    
        <img src="./static/images/logo.png" width="50px" height="50px" class="rounded-circle" alt="logo">
        <p style="margin-left: 10px">Health Tracker</p>
    </div>
    <div class="nav-child-2">
        <div class="nav-child-3">
            <a style="text-decoration: none; color: azure;" href="{{ url_for('home') }}"><i class="fa fa-fw fa-home"></i> Home</a>
        </div>
        <div class="nav-child-3">
            <a style="text-decoration: none; color: azure;" href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a>
        </div>
        <div class="nav-child-3">
            <a style="text-decoration: none; color: azure;" href="{{ url_for('login') }}"><i class="fa fa-fw fa-user"></i> Logout</a>
        </div>
    </div>
</div>

<div class="box1 card">
    <div class="bmi">
        <div class="card bmi-child">
            <div class="card-body " style="font-size: 4cap;"> BMI </div>
            <div class="card-body" style="font-size: 2.5cap; font-style: normal; font-family: Arial, Helvetica, sans-serif;"> {{ user_data["user"].bmi }} </div>
        </div>
        <div class="card bmi-child">
            <div class="card-body" style="font-size: 4cap;"> Height </div>
            <div class="card-body" style="font-size: 2.5cap;"> {{ user_data["user"].height }} cm</div>
        </div>
    </div>
    <div class="bmi">
        <div class="card bmi-child">
            <div class="card-body" style="font-size: 4cap;"> Weight </div>
            <div class="card-body" style="font-size: 2.5cap;"> {{ user_data["user"].weight }} kg</div>
        </div>
        <div class="card bmi-child">
            <div class="card-body" style="font-size: 4cap;">Health Score</div>
            <div class="card-body" style="font-size: 2.5cap;">{{ user_data["health_data"].health_score }}</div>
        </div>
    </div>
    <div class="add-data">
    
        <div style="margin-top: 100px; font-size: 3cap; font-family: 'Courier New', Courier, monospace;">Add today's data</div>
        
        <a href="{{ url_for('home') }}" class="nutrition  btn btn-outline-success btn-block">
            Nutrition
        </a>
        <a href="{{ url_for('home2') }}" class="exercise  btn btn-outline-success btn-block">
                Exercise 
        </a>
    </div>
    <div class="leaderboard">
        <div style="margin-top: 5px; font-size: larger;">Leaderboard</div>
            <ol style="margin-left: 13px;">
                {% for user in user_data['leaderboard'] %}
                <li>
                    <div class="leaderboard-child">
                        <span>{{user['username']}}</span> &nbsp; &nbsp; &nbsp; <span>{{ user['health_score'] }}</span> 
                    </div>
                </li>
                {% endfor %}
                
                <!-- <li>
                <div class="leaderboard-child">
                    <span>User1</span> &nbsp; &nbsp; &nbsp; <span>Healthscore</span>
                </div>
                </li>
                <li><div class="leaderboard-child">
                    <span>User1</span> &nbsp; &nbsp; &nbsp; <span>Healthscore</span>
                </div>
                </li>
                <li>
                <div class="leaderboard-child">
                    <span>User1</span> &nbsp; &nbsp; &nbsp; <span>Healthscore</span>
                </div>
                </li>
                <li><div class="leaderboard-child">
                    <span>User1</span> &nbsp; &nbsp; &nbsp; <span>Healthscore</span> 
                </div>
                </li>
                <li>
                <div class="leaderboard-child">
                    <span>User1</span> &nbsp; &nbsp; &nbsp; <span>Healthscore</span>
                </div>
                </li>
                <li><div class="leaderboard-child">
                    <span>User1</span> &nbsp; &nbsp; &nbsp; <span>Healthscore</span>
                </div>
                </li>
                <li>
                <div class="leaderboard-child">
                    <span>User1</span> &nbsp; &nbsp; &nbsp; <span>Healthscore</span>
                </div>
                </li>
                <li><div class="leaderboard-child">
                    <span>User1</span> &nbsp; &nbsp; &nbsp; <span>Healthscore</span>
                </div>
                </li>
                <li>
                <div class="leaderboard-child">
                    <span>User1</span> &nbsp; &nbsp; &nbsp; <span>Healthscore</span>
                </div>
                </li> -->
            </ol>
    </div>
</div>
<div class="today-data">
    <div class="bmi">
        <div class="card bmi-child" style="background-image: linear-gradient(rgb(216, 214, 184, 0.6), rgb(96, 164, 163, 0.5)); font-family: 'Times New Roman', Times, serif;">
            <div class="card-body" style="font-size: 4cap;"> Protein </div>
            <div class="card-body" style="font-size: 2.5cap;"> {{ user_data["nutrition_data"].protein }} gm</div>
        </div>
        <div class="card bmi-child" style="background-image: linear-gradient(rgb(216, 214, 184, 0.6), rgb(96, 164, 163, 0.5)); font-family: 'Times New Roman', Times, serif;">
            <div class="card-body" style="font-size: 4cap;">Calorie intake</div>
            <div class="card-body" style="font-size: 2.5cap;"> {{ user_data["nutrition_data"].calories }} kcal</div>
        </div>
    </div>
    <div>
    <div style="text-align: center; margin-top: 70px; margin-left: 20px; margin-right: 20px; font-size: 4cap;">
        Today's activity
    </div>
    <div style="display: flex; flex-direction: row; margin-top: 150px; margin-bottom: 10px;">
    <div class="today-data-child">
        <div class="today-data-child-1"> Fat &nbsp; &nbsp;&nbsp; &nbsp;{{ user_data["nutrition_data"].fat }}</div>
        <div class="today-data-child-1"> sat_fat &nbsp; &nbsp; &nbsp;{{ user_data["nutrition_data"].Sat_fat }}</div>
        <div class="today-data-child-1"> carbs &nbsp; &nbsp; &nbsp;{{ user_data["nutrition_data"].carbs }}</div>
        <div class="today-data-child-1"> fiber &nbsp; &nbsp; &nbsp;{{ user_data["nutrition_data"].fiber }}</div>
    </div>
        <div class="today-data-child" style="text-align: center;"> 
            <div style="margin-top: 50px; font-size: 3cap;">
                Calories Burnt
            </div>
            <div style="margin-top: 60px; font-size:2.5cap; font-family: 'Times New Roman', Times, serif;">
                {{ user_data["exercise_data"].burnt_calories }} <br>
                kcal
            </div> 
        </div>
    </div>
    </div>
        <div class="today-data-child-2" style="text-align: center;"> 
            <div style="margin-top: 20px; font-size: 2.5cap;">
                Exercises
            </div>
            <div style="padding: 0px 0px 0px 10px;">
            <ol style="margin-left: 10px;">
                {% for exercise in user_data['exercises'] %}
                <li><div class="leaderboard-child-1">
                    <span>{{ exercise }}</span>
                </div>
                </li>
                {% endfor %}
                <!-- <li>
                <div class="leaderboard-child-1">
                    <span>User1</span> <span>Healthscore</span>
                </div>
                </li>
                <li><div class="leaderboard-child-1">
                    <span>User1</span> <span>Healthscore</span>
                </div>
                </li>
                <li>
                <div class="leaderboard-child-1">
                    <span>User1</span> <span>Healthscore</span>
                </div>
                </li>
                <li><div class="leaderboard-child-1">
                    <span>User1</span> <span>Healthscore</span>
                </div>
                </li>
                <li>
                <div class="leaderboard-child-1">
                    <span>User1</span> <span>Healthscore</span>
                </div>
                </li>
                <li><div class="leaderboard-child-1">
                    <span>User1</span> <span>Healthscore</span>
                </div>
                </li>
                <li>
                <div class="leaderboard-child-1">
                    <span>User1</span> <span>Healthscore</span>
                </div>
                </li> -->
            </ol>
            </div>
        </div>
    </div>
</div>

<div class="box2 card">
    <div class="calorie-burnt">
        Calories Burnt Plot
    </div>
    <div class="health-score">
        Health Score Plot
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>