<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="./static/styles.css">
</head>
<body style=" background-repeat: no-repeat; background-size: cover; opacity: 0.95;">
<div>
<div class="navbar">
    <div class="nav-child-1" style="font-family: cursive; font-size: xx-large; font-weight: 800; font-style: italic;">    
        <img src="./static/images/logo.png" width="50px" height="50px" class="rounded-circle" alt="logo">
        <p style="margin-left: 10px">Health Tracker</p>
    </div>
    <div class="nav-child-2">
        <div class="nav-child-3">
            <a style="text-decoration: none; color: azure;" href="{{ url_for('health') }}"><i class="fa fa-fw fa-home"></i> Home</a>
        </div>
        <div class="nav-child-3">
            <a style="text-decoration: none; color: azure;" href="{{ url_for('login') }}"><i class="fa fa-fw fa-user"></i> Logout</a>
        </div>
    </div>
</div>

<div class="box1 card">
    <div class="bmi">
        <div class="card bmi-child-p">
            <div class="card-body " style="font-size: 2.5cap; ">
                BMI
                <img src="{{ user_data['bmi_png'] }}" height="350px" width="350px">
            </div>
            <div class="card-body" style="font-size: 1.5cap; font-style: normal; font-family: Arial, Helvetica, sans-serif; margin-top: 20px;"> {{ user_data["user"].bmi }} </div>
            <p style="color: rgb(26, 0, 221);">Ideal 0 - 25</p>
        </div>
        <div class="card bmi-child-h">
            <div class="card-body" style="font-size: 4cap;"> Height </div>
            <div class="card-body" style="font-size: 2.5cap;"> {{ user_data["user"].height }} cm</div>
        </div>
    </div>
    <div class="bmi">
        <div class="card bmi-child-w">
            <div class="card-body" style="font-size: 4cap;"> Weight </div>
            <div class="card-body" style="font-size: 2.5cap;"> {{ user_data["user"].weight }} kg</div>
        </div>
        <div class="card bmi-child-w">
            <div class="card-body" style="font-size: 4cap;">Health Score</div>
            <div class="card-body" style="font-size: 2.5cap;">{{ user_data["health_data"].health_score }}</div>
        </div>
    </div>
    <div class="add-data">
    
        <div style="margin-top: 10px; font-size: 3cap; font-family: 'Courier New', Courier, monospace;">Add today's data</div>
        
        <div class="exer_nutr">
            <a href="{{ url_for('nutrition') }}" class="nutrition  btn btn-outline-success btn-block">
                Nutrition
            </a>
            <div class="ht_wt">
                <form method="post">
                    {{ form.hidden_tag() }}
                    <legend>Update Height or Weight</legend>
                    <fieldset>
                        <div class="row" style="margin-top: 10px; margin-bottom: 5px;">
                            <div class="col-lg-6">
                                <label for="exercise-duration">{{ form.height.label() }}</label>
                            </div>
                            <div class="col-lg-2">{{ form.height(placeholder='in cm', style="width:150px")}}</div>
                            
                        </div>
        
                        
                        <div class="row" style="margin-top: 10px; margin-bottom: 5px;">
                            <div class="col-lg-6">
                                <label for="exercise-duration">{{ form.weight.label() }}</label>
                            </div>
                            <div class="col-lg-2">{{ form.weight(placeholder='in kg', style="width:150px")}}</div>
                            
                        </div>
                        <div style="justify-content: center;">{{ form.submit()}}</div>
                    </fieldset>
                </form>
            </div>
            <a href="{{ url_for('exercise') }}" class="exercise  btn btn-outline-success btn-block">
                    Exercise 
            </a>
        </div>


        
        
    </div>
    <div class="leaderboard">
        <div style="margin-top: 5px; font-size: larger;">Leaderboard</div>
            <ol style="margin-left: 13px;">
                {% for user in leaderboard %}
                <li>
                    <div class="leaderboard-child">
                        <span>{{user['username']}}</span> &nbsp; &nbsp; &nbsp; <span>{{ user['health_score'] }}</span> 
                    </div>
                </li>
                {% endfor %}
            </ol>
    </div>
</div>
<div class="today-data">
    <div class="bmi">
        <div class="card bmi-child" style="background-image: linear-gradient(rgba(232, 231, 211, 0.6), rgba(134, 202, 201, 0.5)); font-family:cursive; height: 500px; width: 400px; padding: 0px;">
            <div class="card-body" style="font-size: 2.0cap;">  
                Protein
                <img src="{{ user_data['protein_png'] }}" height="350px" width="350px"> 
            </div>
            <div class="card-body" style="font-size: 1.5cap;"> {{ user_data["nutrition_data"].protein }} gm</div>
            <p style="color: rgb(0, 24, 146);">Ideal {{ user_data["user"].weight }} - {{ user_data["user"].weight*2 }} gm</p>
        </div>
        <div class="card bmi-child" style="background-image: linear-gradient(rgba(234, 233, 213, 0.6), rgba(134, 202, 201, 0.5)); font-family:cursive; height: 300px; width: 400px; margin-top: 20px;">
            <div class="card-body" style="font-size: 3cap;">Calorie intake</div>
            <div class="card-body" style="font-size: 2.5cap;"> {{ user_data["nutrition_data"].calories }} kcal</div>
        </div>
    </div>
    <div>
    <div style="text-align: center; margin-top: 70px; margin-left: 20px; margin-right: 20px; font-size: 4cap;">
        Today's activity
    </div>
    <div style="display: flex; flex-direction: row; margin-top: 150px; margin-bottom: 10px;">
    <div class="today-data-child">
        <div class="today-data-child-1"> Fat &nbsp; &nbsp;&nbsp; &nbsp;{{ user_data["nutrition_data"].fat }} gm</div>
        <div class="today-data-child-1"> sat_fat &nbsp; {{ user_data["nutrition_data"].Sat_fat }} gm</div>
        <div class="today-data-child-1"> carbs &nbsp; &nbsp; &nbsp;{{ user_data["nutrition_data"].carbs }} gm</div>
        <div class="today-data-child-1"> fiber &nbsp; &nbsp; &nbsp;{{ user_data["nutrition_data"].fiber }} gm</div>
    </div>
        <div class="today-data-child" style="text-align: center;"> 
            <div style="margin-top: 50px; font-size: 3cap;">
                Calories Burnt
            </div>
            <div style="margin-top: 60px; font-size:2.5cap; font-family: 'Times New Roman', Times, serif;">
                {{ user_data["exercise_data"].burnt_calories }} <br>
                kcal
            </div> 
        </div>
    </div>
    </div>
        <div class="today-data-child-2" style="text-align: center;"> 
            <div style="margin-top: 20px; font-size: 2.5cap;">
                Exercises
            </div>
            <div style="padding: 0px 0px 0px 10px;">
            <ol style="margin-left: 10px;">
                {% for exercise in user_data['exercises'] %}
                <li><div class="leaderboard-child-1">
                    <span>{{ exercise }}</span>
                </div>
                </li>
                {% endfor %}
            </ol>
            </div>
        </div>
    </div>
</div>

<div class="box2 card">
    <div class="calorie-burnt">
        <img src="{{ user_data['calories_png'] }}" height="600px" width="800px">
    </div>
    <div class="health-score">
        <img src="{{ user_data['health_png'] }}" height="600px" width="800px">
    </div>
</div>
<div class="nutrients">
    <img src="{{ user_data['nutrients_png'] }}"height="800px" width="1200px">
</div>
<div class="nutrients">
    <img src="{{ user_data['health2_png'] }}"height="800px" width="1200px">
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>