{% extends "base.html" %}
{% block content %}
<div class="navbar">
    <div class="nav-child-1">
        <img src="./static/logo.png" width="50px" height="50px">
    </div>
    <div class="nav-child-2">
        <div class="nav-child-3">
            <a style="text-decoration: none;" href="{{ url_for('home') }}"><i class="fa fa-fw fa-home"></i> Home</a>
        </div>
        <div class="nav-child-3">
            <a style="text-decoration: none;" href="#"><i class="fa fa-fw fa-search"></i> Search</a>
        </div>
        <div class="nav-child-3">
            <a style="text-decoration: none;" href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a>
        </div>
        <div class="nav-child-3">
            <a style="text-decoration: none; margin-right: 10px;" href="{{ url_for('login') }}"><i class="fa fa-fw fa-user"></i> Logout</a>
        </div>
    </div>
</div>
<div class="card" style="display: flex; justify-content: center; align-items: center;
margin-top: 50px; width:600px; height: 700px; margin-left:50px; 
padding: 20px 20px 20px 20px; opacity: 1; flex-direction: column;
background-image: linear-gradient(to right, rgb(188, 190, 209), rgb(135, 153, 206));">
<div class="card-body">
    <div class="container">
    <div class="row">    
    <h2 class="card-title">Nutrient</h2>
    </div>
    <div class="row">
    <form method="post">
        {{ form.hidden_tag() }}
        <fieldset>
        <div class="row" style="margin-top: 10px; margin-bottom: 5px;">
            <div class="col-lg-4">
            <label for="food-item-search">Filter foods</label>
            </div>
            <div class="col-lg-8">
            <input style="width: 300px;" type="search" name="food-item-search" id="filter_item" oninput="filterItems('filter_item', 'select_food')">
            </div>
        </div>
        <div class="row" style="margin-top: 10px; margin-bottom: 5px; margin-left: 155px;">
            <label for="food-items"></label>
            <select style="height: 200px; width: 300px;" name="food-items" id="select_food" class="listbox" multiple>
                {% for index, item in data %}
                <option value="{{ index }}" onclick="addToText('{{item}}','{{index}}', 'text_food_list', '')">{{item}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="row" style="margin-top: 10px; margin-bottom: 5px;">
            <!-- <label for="food-list">Food you selected</label> -->
            <!-- <textarea name="food-list" id="text_food_list"></textarea> -->
            <div class="col-lg-4">
            {{ form.food_items.label() }}
            </div>
            <div class="col-lg-8">
            {{ form.food_items(id='text_food_list', style="width: 300px; height: 200px;") }}
            </div>
        </div>
        </fieldset>
        <div style="display: flex; justify-content: center; align-items: center; margin-top: 30px;">
            {{ form.submit(class="btn btn-outline-success btn-block s-btn") }}
        </div>
    </form>
    <script>
        function filterItems(searchInputId, listId) {
            const searchInput = document.getElementById(searchInputId);
            const filter = searchInput.value.toLowerCase();
            const list = document.getElementById(listId);
            const options = list.getElementsByTagName('option');

            for (let i = 0; i < options.length; i++) {
                const option = options[i];
                const text = option.textContent || option.innerText;
                option.style.display = text.toLowerCase().indexOf(filter) > -1 ? '' : 'none';
            }
        }
        function addToText(item,value, id){
            let found = false
            const textArea = document.getElementById(id)
            console.log(textArea)
            // console.log('hi')
            // console.log(type(id))
            // console.log('hi')
            let val = textArea.value
            // console.log(type(text))
            if (val){
                let i = 0
                let ind = -1
                let arr = val.split('; ')
                for(i=0; i<arr.length; i+=1){
                    if(arr[i].split('(x')[0] == item){
                        console.log(arr[i])
                        let index = arr[i].indexOf('(x')
                        console.log(index)
                        if(index>=0){
                            let num = Number(arr[i].split('(x')[1].split(')')[0])
                            
                            console.log(num)
                            arr[i] = arr[i].split('(x')[0] + `(x${num+1})`
                        }
                        else{
                            arr[i] =  `${arr[i]}(x2)`
                        }
                        found=true
                    }
                }
                // console.log(arr)
                val = arr[0].toString()
                let flag = true
                arr.forEach(element =>{
                    if(!flag){
                        val += `; ${element}`
                    }else{
                        flag = false
                    }
                })
                // console.log(val)
            }else{
                val += `${item}`
                found = true
            }
            if (!found){
                val += `; ${item}`
            }
            textArea.value = val

        }
    </script>
    <div class="row">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                <div class="row">
                    <li style="color: red ;">{{ message }}</li>
                </div>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    </div>
    </div>
    </div>
</div>
</div>

{% endblock content %}