{% extends "base.html" %}
{% block content %}
<div class="navbar">
    <div class="nav-child-1">Health Tracker</div>
    <div class="nav-child-2">
        <div class="nav-child-3">
            <a class="active" href="{{ url_for('home') }}"><i class="fa fa-fw fa-home"></i> Home</a>
        </div>
        <div class="nav-child-3">
            <a href="#"><i class="fa fa-fw fa-search"></i> Search</a>
        </div>
        <div class="nav-child-3">
            <a href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a>
        </div>
        <div class="nav-child-3">
            <a href="{{ url_for('login') }}"><i class="fa fa-fw fa-user"></i> Logout</a>
        </div>
    </div>
</div>
<div class="nutrition-form">
    <script>
        function moveItems(sourceId, targetId) {
            const source = document.getElementById(sourceId);
            const target = document.getElementById(targetId);
            const selectedOptions = Array.from(source.selectedOptions);
            selectedOptions.forEach(option => {
                target.appendChild(option);
            });
        }

        function filterItems(searchInputId, listId) {
            const searchInput = document.getElementById(searchInputId);
            const filter = searchInput.value.toLowerCase();
            const list = document.getElementById(listId);
            const options = list.getElementsByTagName('option');

            for (let i = 0; i < options.length; i++) {
                const option = options[i];
                const text = option.textContent || option.innerText;
                option.style.display = text.toLowerCase().indexOf(filter) > -1 ? '' : 'none';
            }
        }

    </script>
    <h2>Nutrient</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div style="display: flex; align-items: center;">
            <div>
                <label for="items">{{ form.items.label }}</label><br>
                <input type="text" id="searchAvailable" class="search" placeholder="Search..." oninput="filterItems('searchAvailable', 'availableList')">
                <select id="availableList" name="items" class="listbox" multiple>
                    {% for value, label in form.items.choices %}
                        <option value="{{ value }}">{{ label }}</option>
                    {% endfor %}
                </select>
            </div>
            <div style="margin: 0 10px;">
                <button type="button" class="button" onclick="moveItems('availableList', 'selectedList')"> &gt;&gt; </button><br>
                <button type="button" class="button" onclick="moveItems('selectedList', 'availableList')"> &lt;&lt; </button>
            </div>
            <div>
                <label for="selectedList">Selected Items</label><br>
                <input type="text" id="searchSelected" class="search" placeholder="Search..." oninput="filterItems('searchSelected', 'selectedList')">
                <select id="selectedList" name="items" class="listbox" multiple>
                </select>
            </div>
        </div>
        <br>
        <div>
            {{ form.submit() }}
        </div>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li style="color: red ;">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    

</div>
{% endblock content %}