{% extends "layouts.html" %}
{% block content %}
<div class="container" style="display: flex; justify-content: center; align-items: center; 
                        margin-top: 100px; margin-left:auto; margin-right: auto; ">
    <div class="row" style="margin-top: 10px;">
    <img src="./static/images/main_logo.png" width="100px" class="rounded" height="100px" alt="logo">
    </div>
    <div class="row" style="margin-left: 50px; font-family: cursive; font-style: italic; font-weight: 900;">
    <h1>Health Tracker</h1>
    </div>
</div>
<div class="card" style="display: flex; justify-content: center; align-items: center; 
                    margin-top: 50px; width:430px; height: 400px; margin-left:auto; margin-right: auto; 
                    padding-top: 20px; opacity: 1;
                    background-image: linear-gradient(to right, rgb(188, 190, 209), rgb(135, 153, 206));">
    <div class="card-body">
            <h2 class="card-title">Login</h2>
        <form action="{{ url_for('login') }}" method="POST">
            {{ form.hidden_tag() }}
                <div class="login-inputs">
                    {{ form.username.label(style="margin-right: 30px") }}
                    {{ form.username(style="width:100%") }}
                </div>
                <div class="login-inputs">
                    {{ form.password.label(style="margin-right: 60px") }}
                    {{ form.password(style="width:100%") }}
                </div>
            <div style="display: flex; justify-content: center; align-items: center; margin-top: 10px;">
                {{ form.submit(class="btn btn-outline-success btn-block s-btn") }}
            </div>
        </form>
        <div style="padding: 10px 10px 10px 10px;">
            Don't have an account? <a style="text-decoration: none; color: darkblue;" href="{{ url_for('signup') }}">Sign Up</a>
        </div>
    </div>
</div>
{% endblock content %}