{% extends "layouts.html" %}
{% block content %}
<div class="container" style="display: flex; justify-content: center; align-items: center; 
                        margin-top: 80px; margin-left:auto; margin-right: auto; ">
    <div class="row" style="margin-top: 10px;">
    <img src="./static/images/main_logo.png" width="100px" class="rounded" height="100px" alt="logo">
    </div>
    <div class="row" style="margin-left: 50px; font-size: xx-large; font-family: cursive; font-style: italic; font-weight: 900;">
        <h1>Health Tracker</h1>
    </div>
</div>
<div class="card" style="display: flex; justify-content: center; align-items: center; 
                    margin-top: 50px; width:400px; height: 650px; margin-left: auto; margin-right: auto;
                    padding-top: 20px;
                    background-image: linear-gradient(to right, rgb(188, 190, 209), rgb(135, 153, 206));">
    <div class="card-body">
        <h2 class="card-title">Signup</h2>
        <form action="{{ url_for('signup') }}" method="POST">
            {{ form.hidden_tag() }}
                <div class="login-inputs">
                    {{ form.username.label(style="margin-right: 30px") }}
                    {{ form.username(style="width:100%") }}
                </div>
                <div class="login-inputs">
                    {{ form.email.label(style="margin-right: 80px") }}
                    {{ form.email(style="width:100%") }}
                </div>
                <div class="login-inputs">
                    {{ form.password.label(style="margin-right: 60px") }}
                    {{ form.password(style="width:100%") }}
                </div>
                <div class="login-inputs">
                    {{ form.confirm_pass.label() }}
                    {{ form.confirm_pass(style="width:100%") }}
                </div>
                <div class="login-inputs">
                    {{ form.height.label() }}
                    {{ form.height(style="width:100%", placeholder="in cm") }}
                </div>
                <div class="login-inputs">
                    {{ form.weight.label() }}
                    {{ form.weight(style="width:100%", placeholder="in Kg") }}
                </div>
            <div style="display: flex; justify-content: center; align-items: center; margin-top: 5px; margin-bottom: 10px;">
                {{ form.submit(class="btn btn-outline-success btn-block s-btn") }}
            </div>
            <div>
                Already have an account? <a style="color: darkblue;" href="{{ url_for('login') }}">Log In</a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}